.fav-service {
    width: 100%;
    margin-top: 20px;
    
}
.fav-service__container {
    display: flex;
    text-align: center;
    width: 500px;
    padding-left: 20px;
}
.fav-service__components {
    width: 120px;
    height: 80px;
}
.fav-service__components:hover {
    background-color: rgb(226, 226, 226);
}
.fav-service__icons {
    height: 25px;
    padding: 15px 0px;
}
.fav-service__hidden {
    
}
.fav-service__name {
    height: 15px;
    
}